<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>template</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <my-cmp></my-cmp>
        <hr>
        <my-cmp></my-cmp>
        <!-- <button v-on:click="changeStatus">Change</button> -->
    </div>
    <script>
        Vue.component("my-cmp", {
            data() {
                return {
                    status: "Critical"
                }
            },
            template: '<p>Server Status: {{ status }}  (<button v-on:click="changeStatus">Change</button>) </p> ',
            methods: {
                changeStatus: function () {
                    this.status = "Normal"
                }
            },
        });
        new Vue({
            el: "#app",

        })


    </script>
</body>

</html>