<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- <app-quote>
          <h1>hello word</h1>
        </app-quote>-->

        <appQuote>
          <h1>hello word</h1>
        </appQuote>
      </div>
    </div>
  </div>
</template>

<script>
import Quote from "./components/Quote.vue";
export default {
  components: {
    appQuote: Quote
  }
};
</script>

<style>
</style>
