<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>{{new_msg}}</p>
        <input v-model="msg" type="text" name="" id="">
        <p>{{msg}}</p>
        <button v-on:click="input()">提交</button>

    </div>




    <script src="../js/my.js"></script>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            msg: "",
            new_msg:""
        },
        methods: {
            input:function () {
                this.new_msg = "用户输入:"+this.msg
            }
        },
    })
</script>

</html>