<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>第一个应用</title>
    <script src="./js/vue.js"></script>
</head>

<body>


    <div id="app">
        <input type="text" v-on:input="change_title">
        <p>{{title}}</p>
    </div>

    <script>
        new Vue({
            el: "#app",
            data:{
                title:"vue hello vue!"
            },
            methods: {
                change_title:function(event){
                    this.title = event.target.value
                }
            },
        })
    </script>
</body>

</html>