<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <p> {{sayHello()}} - <a v-bind:href="link">baidu</a> </p>
    </div>

</body>
<script>
    new Vue({
        el: "#app",
        data: {
            title: "Hello Vue!",
            link:"https://www.baidu.com/"
        },
        methods: {
            sayHello:function(){
                return this.title
            }
        },
    })
</script>

</html>