<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>template</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <p> name:{{name}} {{age}} </p>
        <p> {{age*3}} </p>
        <p> {{random()}} </p>
        <div>
            <input type="text" name="" id="" v-bind:value="name">
        </div>
        <div>
            <img v-bind:src="image" alt="" >
        </div>
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            name: "zqm",
            age: "24",
            image:"http://images2.pianshen.com/256/0a/0aafc90fe90fc74eb7ea379e481ed820.JPEG"
        },
        methods: {
            random: function () {
                return Math.random();
            },
        },
    })
</script>

</html>