<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>template</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <button v-on:click="increase">Click me</button>
        <p> {{counter}} </p>
    </div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            counter:0
        },
        methods: {
            increase:function(){
                this.counter++;
            }
        },
    })
</script>
</html>