<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>template</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <button v-on:click="alertMe">Click Me</button>
            <p v-on:click="alertMe">Click Me</p>
        </div>
        <div>
            <input type="text" name="" id="" v-on:keyup="value = $event.target.value">
            <p> {{value}} </p>
        </div>
        <div>
            <input type="text" name="" id="" v-on:keydown.enter="value = $event.target.value">
            <p> {{value}} </p>
        </div>

    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            value: ""
        },
        methods: {
            increase: function (step, event) {
                this.counter += step;
            },
            updateCoordinates: function (event) {
                this.x = event.clientX;
                this.y = event.clientY;
            },
            alertMe: function () {
                alert("Alert!");
            }
        },
    })
</script>

</html>