<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" name="" v-model="name">
        <p> {{name}} </p>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            name: "zqm"
        }
    })
</script>

</html>