<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <button v-on:click="counter++">Increase</button>
        <p> {{counter}} </p>
        <button v-on:click="counter--">Decrease</button>
        <button v-on:click="secondCounter++">Increase Second</button>
        <p>Counter:{{counter}} | {{secondCounter}} </p>
        <p>Result: {{result()}} | {{output}} </p>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            counter:0,
            secondCounter:0
        },
        computed: {
            output:function () {
                console.log("Computed");
                return this.counter > 5 ? "Greater 5" : "Smaller than 5"
            }
        },
        methods: {
            result: function () {
                console.log("Method");
                return this.counter > 5 ? "Greater 5" : "Smaller than 5"
            }
        },
    })
</script>

</html>