<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <p>Current Value : {{value}} </p>
            <button @click="value+=5">ADD 5 </button>
            <button @click="value+=1">ADD 1 </button>
            <p> {{result}} </p>
        </div>
        <div>
            <input type="text" name="" id="">
            <p> {{value}} </p>
        </div>

    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            value: 0,
        },
        computed: {
            result:function () {
                console.log("Computed");
                return this.value == 37 ? "done" : "not there yet"
            }
        },
        watch: {
            result: function () {
                var vm = this;
                setTimeout(function () {
                    vm.value = 0;
                }, 5000)
            }
        },
        // methods: {
        //     result: function () {
        //         console.log("Method");
        //         return this.value > 15 ? "Greater 15" : "Smaller than 15"
        //     }
        // },
    })
</script>

</html>