<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>

</head>

<body>
    <div id="app">
        <p v-if="show">You can see me! <span>Hello!</span></p>
        <p v-else>Now you see me !</p>
        <p>Do you also see me?</p>
        <button v-on:click="show =! show">Switch</button>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            show: true
        },

    })
</script>

</html>