<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>

</head>

<body>
    <div id="app">
        <ul>
            <li v-for="ingredient in ingredients"> {{ingredient}} </li>
        </ul>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            ingredients:["meat","fruit","cookie"],
            person:[
                {name:"zqm",age:22,color:"red"},
                {name:"xu",age:"unknown",color:"blue"},
            ]
        },

    })
</script>

</html>