<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>

</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient, index) in ingredients" > {{ingredient}}({{index}}) </li>
        </ul>
        <hr>
            <ul>
                <li v-for="(person, index) in persons" >
                    <div v-for="(value, key,index) in person" >
                        {{key}}:{{value}} ({{index}})
                    </div>
                </li>
            </ul>
        <hr>
        <template v-for="(ingredient, index) in ingredients">
            <h3> {{ingredient}} </h3>
            <p> {{index}} </p>
        </template>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            ingredients:["meat","fruit","cookie"],
            persons:[
                {name:"zqm",age:22,color:"red"},
                {name:"xu",age:"unknown",color:"blue"},
            ]
        },

    })
</script>

</html>