<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>

</head>

<body>
    <div id="app">
        <div>
            <button v-on:click="show = !show">Toggle</button>
            <p v-if="show">You either see me ...</p>
            <p v-else="!show">...or me</p>

            <p v-show="show">You either see me ...</p>
            <p v-show="!show">...or me</p>
        </div>

        <ul>
            <li v-for="(item, index) in array" :key="index">
                {{item}} - ({{index}})
            </li>
        </ul>
        <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
        <ul>
            <li v-for="(value, keyName,index) in myObject" :key="index">
                {{value}} - {{keyName}} -{{index}}
            </li>
        </ul>
        <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
        <ui>
            <li v-for="(value, index) in testData" :key="index">
                <template v-if="Array.isArray(value)">
                    <div v-for="(element, index) in value" :key="index">
                        {{element}}
                    </div>
                </template>
                <template v-else>
                    {{value}}
                </template>

            </li>
        </ui>

    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            show: true,
            array: ["zqm", "xu", "lh", "fx"],
            myObject: {
                title: 'Lord of the Rings',
                author: 'J.R.R. Tolkiens',
                books: '3'
            },
            testData: {
                name: 'TESTOBJECT',
                id:10,
                data: [1.67, 1.33, 0.98, 2.21]
            }


        },

    })
</script>

</html>