<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>

</head>

<body>
    <div id="app">
        <h1>{{title}}</h1>
        <button v-on:click="show">Show Paragraph</button>
        <p v-if="showParagraph">This is not always visible</p>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            title:"The VueJS Instance",
            showParagraph:false
        },
        methods: {
            show:function () {
                this.showParagraph = true;
                this.updateTitle("The VueJS Instance (Updated)")
            },
            updateTitle:function(title){
                this.title = title
            }
        },
        computed: {
            lowercaseTitle:function(){
                return this.title.toLowerCase();
            }
        },
        watch: {
            title:function(value){
                alert("Title change, new value:"+value)
            }
        },

    })
</script>

</html>